<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDfhreEpqyVELHfZsHoYyTwCKy3GwIfpQM</string>
	<key>GCM_SENDER_ID</key>
	<string>355847621686</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.psycho.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>rinnape-489bc</string>
	<key>STORAGE_BUCKET</key>
	<string>rinnape-489bc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:355847621686:ios:6092f06b5c0ce2e8e11c97</string>
</dict>
</plist>